@{
  Layout = "_Layout";
}
<h1>Welcome to Lonny's Restaurants!</h1>
<p>@Html.ActionLink("See all Restaurants", "Index", "Restaurant")</p>
<p>@Html.ActionLink("See all Cuisines", "Index", "Cuisine")</p>