@{
  Layout = "_Layout";
}

<h1>Welcome to Lonny's Restaurants!</h1>

<div class="splash"><p>@Html.ActionLink("See all Restaurants", "Index", "Restaurant")     ||       @Html.ActionLink("See all Cuisines", "Index", "Cuisine")</p>
</div>